<div class="nav">
<h2 align="center" style="font-variant: small-caps; font-style: italic; font-weight: lighter">
	HISTORIA DE LA PSICOPROFILAXIS
</h2><br />
<%= image_tag "ma_luisa.png", heigh: 600, width: 300, hspace: "20", vspace: "15", align: "left" %>
<h3 style="text-align: justify; width: 900px; font-variant: small-caps; font-style: italic; font-weight: lighter" align="center">
	<p>
	Ma. Luisa Ruiz Díaz, presidenta de ANIPP relata brevemente la historia de la Perinatal en México,
	las acciones de las Educadoras Perinatales y los  objetivos que tenemos actualmente para la preparación
	de las parejas que esperan un bebé.
	</p>
	<div>
		<%= link_to "Historia de la psicoprofilaxis en México!","http://www.youtube.com/watch?v=ZxLDdPfwSfE"%>
	</div>
</h3>
</div>
<br /><br /><br />
<div class="nav">
<h3 align="center" style="font-variant: small-caps; font-style: italic; font-weight: lighter">
	CÓDIGO DE ÉTICA DE LA EDUCADORA PERINATAL
</h3><br />
<h4 align="justify" style="width: 850px; padding-left: 100px; font-variant: small-caps; font-style: italic; font-weight: lighter">
<p>
	1. Respeta la individualidad de los padres que esperan un hijo
 	y los miembros de su familia; ofrece tus servicios independientemente
 	del nivel socioeconómico, características y metas personales.	
</p>
<p>
	2. Asume la responsabilidad de sus acciones y juicios personales.
</p>
<p>
	3. Colabora con otros profesionales de la salud y personas interesadas
 	en la promoción de esfuerzos colectivos locales, estatales y nacionales
 	para satisfacer las necesidades de salud, seguridad y educación de las
 	familias en la etapa reproductiva.
</p>
<p>
	4. Concilia los intereses de los usuarios de los servicios de salud propiciando
	la toma de decisiones informadas, la autonomía y capacidad de las parejas y
	su colaboración con el equipo de salud.
</p>
<p>
	5. Se mantiene actualizada y competente en la educación perinatal e incorpora
 	a su práctica profesional los nuevos conocimientos que se desarrollan.
</p>
<p>
	6. Participa en actividades que contribuyan al constante desarrollo
 	y mejoramiento del conocimiento para la educación perinatal.
</p>
<p>
	7. Para aceptar responsabilidades o buscar asesoría, utiliza como criterio
 	su capacidad de juicio y sus habilidades personales.
</p>
<p>
	8. Salvaguarda el derecho de privacidad de las parejas, manteniendo discreción
 	con la información de carácter confidencial.
</p>
<p>
	9. Protege a las parejas y al público en general ante acciones que atenten contra
 	la salud y seguridad de los mismos, ya sea por incompetencia, falta de ética o 
 	ejercicio ilegal del personal de salud.
</p>
</h4>
</div>
<br /><br /><br />
<div class="about">
	<%= image_tag "gabriela_oria.jpg", heigh: 500, width: 250, hspace: "15", vspace: "15", align: "left" %>

<h3 style="text-align: center; font-variant: small-caps; font-style: italic; font-weight: lighter">
	Gabriela Oria de Quinzaños <small style="color: white">Expresidenta de ANIPP 1990-1994</small>
</h3> 
		
<h4 style="text-align: justify; font-variant: small-caps; font-style: italic; font-weight: lighter">
	<p>
		Me he dedicado por mas de cuarenta años a la Educación Perinatal, preparando a parejas
		para recibir a sus bebés con un parto natural, seguro y saludable.  He tenido muchas
		oportunidades de acompañarlos en sus partos y cada día reconozco con mas claridad que
		el embarazo y el parto son sagrados.
	</p>
	<p>
		Me asombro ante el misterio de la vida y ante la misión de los padres que comparten con
		Dios la capacidad de crear a un nuevo ser humano, recibiendo un voto de confianza al ser
		elegidos para hacerse cargo de cada uno de sus hijos.
	</p>
	<p>
		Mi propia experiencia como madre de seis hijos me transformó y fue decisiva en mi opción
		de vida; tuve el gran deseo de compartir lo que yo viví después de haber asistido al curso
		de Psicoprofilaxis y haber experimentado la belleza y el gozo de parir con dignidad, acompañada
		por mi esposo y mi Doula, sin intervenciones médicas innecesarias y siendo participe en la toma
		de decisiones en el cuidado de mi salud y la de mis hijos.
	</p>
	<p>
		En 1994 tuve la oportunidad de fundar, junto con Elena Carrillo y Guadalupe Trueba, la Especialidad
		en Educación Perinatal en la Universidad Anáhuac, la cual cuenta con reconocimiento oficial de la
		Secretaría de Educación Pública y las certificaciones de Lamaze International y DONA International. 
	</p>
	<p>
		Mi sueño de compartir un modelo de atención del parto que respetara la fisiología femenina y 
		favoreciera la capacidad natural que tenemos las mujeres para dar a luz, se ha vuelto realidad 
		a través de nuestros egresados, generando presencia en todos los estados la República Mexicana 
		a través de cursos de preparación para el parto y lactancia materna a parejas, logrando cambios
		importantes, beneficiando a las madres y a sus bebés.
	</p>
	<p>
		Creo en la educación perinatal como una parte esencial en nuestro país. Veo la importancia de formar
		especialistas en Educación Perinatal profesionales, comprometidos y capaces de trabajar en el equipo
		de salud, sumando esfuerzos, compartiendo conocimientos y apoyando a las madres en el embarazo,
		fomentando el parto natural y la lactancia temprana, practicando el contacto piel a piel entre la
		madre y el bebé, así como el alojamiento conjunto durante la estancia hospitalaria por los enormes
		beneficios que estas prácticas conllevan.
	</p>
</h4>
</div>
<br /><br /><br />
<div class="nav">
	<%= image_tag "guadalupe_trueba.png", heigh: 500, width: 250, hspace: "15", vspace: "15", align: "left" %>
	
	<h3 style="text-align: center; font-variant: small-caps; font-style: italic; font-weight: lighter">
		Nunca comeremos de esa fruta <small style="color: white">Por Guadalupe Trueba</small>
	</h3>
<h4 style="text-align: justify; font-variant: small-caps; font-style: italic; font-weight: lighter">
	<p>
		Inicié mi profesión como educadora para el parto hace 40 años. La lucha por defender el parto natural
		–que entonces se llamaba “Parto Psicoprofiláctico”– y que hoy conocemos como parto respetado, no medicado,
		no intervenido, continua siendo el camino a seguir en mi agenda que nunca termina. En el camino surgieron
		conceptos como “Doula”, “Parto Humanizado”, “Violencia Obstétrica”, “Parto en Agua”, “Parto Vertical” y
		muchos más.	
	</p>
	<p>
		Recuerdo que hace años enseñábamos un sin fin de modos de respirar y formas para relajarse como estrategias
		para trabajar en un parto altamente intervenido y confinado  a una cama; la separación mamá-bebé era una
		rutina, así como muchas otras condiciones que alteraban la fisiología del parto, de la lactancia y del
		apego.
	</p>
	<p>
		Para resumir, en 1993 –hace ya 20 años– escribí un artículo que ahora deseo reciclar por la importancia
		que tiene su contenido con relación al tiempo transcurrido: cuarenta años de trabajo, altas y bajas,
		innumerables experiencias, muchas decepciones pero, sobre todo, grandes éxitos y logros; hoy puedo decir
		que desde que me inicié en esta profesión, he visto muchos cambios favorables, así como retos para seguir
		trabajando.
	</p>
	<p> 
		El artículo se titulaba “Nunca comeremos de esa fruta” y, entre muchas otras cosas, contaba la historia
		de una mujer vieja que plantó un dátil en el desierto sabiendo que no tendría la oportunidad de verlo dar
		frutos porque toma 80 años a las raíces originadas de esa semilla, enraizar profundamente en la árida tierra
		para buscar y alcanzar el agua que le permita crecer a la planta. En el curso de esos 80 años, parecía que
		el árbol iba a morir abatido por la sequía, los fuertes vientos y las tormentas de arena que tuvo que
		soportar. Pero el árbol de esa historia perseveró, creció y dio frutos.
	</p>
	<p>
		Si no aprendemos que el proceso toma mucho tiempo, podemos cortar el dátil antes de tiempo. Pero si realmente
		entendemos, vamos a continuar salvaguardando el árbol hasta que llegue el tiempo para que de sus frutos. 
	</p>
	<p>
		Hemos plantado dátiles sin saber quién los regará y cuidará. Debemos continuar plantándolos con amor y
		sabiendo que es posible que no veamos ni comamos sus frutos. Éste es el secreto de la disciplina de
		los profetas, mártires, revolucionarios y, ¿por qué no? De las educadoras de parto, médicos
		y demás visionarios del nacimiento respetado. Mantengamos el coraje y la fuerza para que nuestras
		semillas se traduzcan en nuestras más grandes esperanzas.
	</p><br />
	<p>
		El artículo terminaba citando las palabras de Rudy Albin en su libro “Children of the Future”:
	</p>
	<p>	
		“¿Qué es la esperanza? Es la sensación de que la imaginación es más real de lo que es y que la realidad
		es menos real de lo que parece… Es la certeza de que la presión y la represión no tienen la última
		palabra… Es la sospecha de que la realidad es más completa de lo que el realismo nos quiere hacer creer…
		que las fronteras de las cosas posibles, no están determinadas por los límites actuales y que de una
		forma inesperada y maravillosa, la vida nos prepara para que eventos creativos nos den un camino de
		libertad. El sufrimiento y la esperanza viven dependiendo uno del otro, y el sufrimiento sin la esperanza
		produce resentimiento y desesperación. La esperanza sin sufrimiento, crea ilusiones e insensibilidad”
	</p>
	<p style="text-align: justify;">	
		<h3 style="font-variant: small-caps; font-style: italic; font-weight: lighter" align="center">
			Plantemos dátiles, aún sabiendo que no comeremos de sus frutos.
		</h3>
	</p>
</h4>
</div>
<br /><br /><br />
<div class="nav">
	<%= image_tag "barbara.png", heigh: 500, width: 250, hspace: "15", vspace: "15", align: "left" %>
	
	<h3 style="text-align: center; font-variant: small-caps; font-style: italic; font-weight: lighter">
		Bárbara Boker <small style="color: white"> Expresidenta de ANIPP</small>
	</h3>
<h4 style="text-align: justify; font-variant: small-caps; font-style: italic; font-weight: lighter">
	<p>
		Me formé como Educadora Perinatal en el Instituto Nacional de Perinatología, certificándome en
		1980 bajo las enseñanzas de nuestra amiga y maestra Angélica Chávez, quien en esa época estaba
		como jefa del servicio de Educación para la Reproducción. Trabajé durante 8 años en el Instituto,
		acudiendo a un promedio de 5 partos diarios. Los primeros años fueron muy interesantes, cuando
		el Inper-DIF era dirigido por su fundador, primer director y uno de los pioneros de la Perinatología
		en México, el Dr. Eduardo Jurado García. También conocí y pude aprender del Dr. Caldeyro Barcia,
		uruguayo pionero de la medicina fetal y perinatología. 	
	</p>
	<p>
		En 1980, simultáneamente, abrí mi Centro de Educación Perinatal en San Ángel y durante 32 años pude
		instruir a muchas parejas, asistir a sus partos y volver a verlos durante los cursos de postparto que
		ofrecíamos en un ambiente cálido y respetuoso
	</p>
	<p>
		En 1990 me certifiqué como LCCE y FACCE: Lamaze Certified Childbirth Educator y Fellow, siendo parte
		de la primera generación en México
	</p>
	<p> 
		En 1997 me eligieron como presidenta de ANIPP, reto que acepté gustosa, pues era una oportunidad de
		poder contribuir con nuestra noble profesión. 
	</p>
	<p>
		Fui nombrada directora de la clínica de Educación Perinatal en Médica Sur (Tlalpan). Gracias al gran
		equipo de trabajo, con Celia Husni, Patricia Martínez y Claudia Mendiola, pudimos organizar varios
		talleres exitosos en nuestra sede en Médica Sur, así como un gran congreso en el Club Alemán de México,
		con el apoyo de la Dra. Lilia Mondragón.
	</p>
	<p>
		Uno de nuestros objetivos era acercarnos a los médicos y hacer equipo con ellos para poder ofrecer
		la atención interdisciplinaria a las parejas que acudían a nuestros servicios. Lamentablemente, sólo
		algunos nos apoyaron.
	</p>
	<p>
		Fue una experiencia fuerte, de mucho trabajo, compromiso, responsabilidades y enseñanzas, así como
		también de mucho crecimiento personal. Compaginar 2 direcciones (ANIPP y Médica Sur), pero además
		trabajar en mi centro de San Ángel y ser mamá de 2 hijos adolescentes-adultos con su propia problemática
		y necesidades, fue un reto poco fácil; agradezco a mis hijos el gran apoyo que siempre me brindaron.
	</p>
	<p>	
		Renuncié a Médica Sur hace 3 años y actualmente vivo en Valle de Bravo. Sigo trabajando con grupos de
		parejas embarazadas, ofreciendo cursos intensivos de un fin de semana, así como clases semanales a parejas
		y en las comunidades de la cuenca de Valle de Bravo. Tengo un programa de radio en “Radio Mexiquense” y
		acudo a partos como Doula en el DF y en Valle. 
	</p>
	<p>	
		Promuevo fielmente el parto humanizado, pues soy una convencida que todas las mujeres y sus parejas
		vivan esta experiencia de la forma más enriquecedora, a la vez que tengan la libertad de elegir con
		información y responsablemente sobre la forma como desean que nazcan sus bebés y se respeten sus
		derechos y los de sus bebés.
	</p>
</h4>
</div>
<br /><br /><br />
<div class="nav">
	<h3 style="text-align: center; font-variant: small-caps; font-style: italic; font-weight: lighter">
		Loredana Gurza <small style="color: white">Mi experiencia al frente de ANIPP</small>
	</h3>
<h4 style="text-align: justify; font-variant: small-caps; font-style: italic; font-weight: lighter">
	<p>
		Estar al frente de ANIPP por casi 9 años fue, sin duda, un gran privilegio al mismo tiempo que
		un reto de grandes proporciones debido a la lucha constante de continuar el camino marcado por
		mi predecesora, la inolvidable Angélica Chávez, después de su prolongada y fructífera gestión.
	</p>
	<p>
		A lo largo de mi estancia, la mayor búsqueda de la Asociación fue la de conformar un fuerte equipo
		de trabajo que lograra coordinar una renovación: organizamos eventos de calidad internacional al
		mismo tiempo que se mantenía un ambiente de unión y camaradería para nuestras socias, tanto nuevas
		como viejas amigas.
	</p>
	<p>
		En base de mucho trabajo y organización, acompañada por mi mesa directiva, reafirmamos nuestra
		posición como un equipo de talla profesional y contamos con el apoyo de varias instituciones,
		así como, de personalidades de gran prestigio como Michell Odent, Marcos Leyte, Bárbara Harper,
		Jack Newman, Mercedes Serrano y Montserrat Catalán, entre otros, quienes participaron en nuestros
		eventos.
	</p>
</h4>
</div>