<!--<div class="hero-unit">
    <h1>ANIPP, bienvenido! <small>en construcción </small></h1>
    <p>La Asociación Nacional de Instructoras en Psicoprofilaxis Perinatal agrupa a profesionales que respetan la fisiología del embarazo, del parto, la capacidad de la mujer de dar a luz y la lactancia materna. Todas nuestras instructoras están certificadas para asistirte en esta bella experiencia. </p>
    <p><a href="#" class="btn btn-primary btn-large">Continua &raquo;</a></p>
</div>-->

<div class="carousel slide container" id="home-carousel">
    <div class="carousel-inner">
        <div class="item active">
             <%= image_tag "baby4.png", alt: "Home" %>
             <div class="carousel-caption">
                <h1>ANIPP, bienvenido! <small>en construcción </small></h1>
                <h4>La Asociación Nacional de Instructoras en Psicoprofilaxis Perinatal agrupa a profesionales que respetan la fisiología del embarazo, del parto, la capacidad de la mujer de dar a luz y la lactancia materna. Todas nuestras instructoras están certificadas para asistirte en esta bella experiencia. </h4>
                </br>
                <a class="btn btn-large btn-primary" href="#">Continua</a>
             </div>
        </div>
        <div class="item">
             <%= image_tag "baby8.png", alt: "Home" %>
             <div class="carousel-caption">
                <h3>1er ENCUENTRO NACIONAL DE PROFESIONALES DE ATENCIÓN DE PARTO EN AGUA</h3>
                <h3>11, 12, y 13 de Noviembre de 2013, Cuidad de México. Sede por confirmar. </h3>
                <br />
             </div>
        </div>
        <div class="item">
             <%= image_tag "baby5.png", alt: "Home" %>
             <div class="carousel-caption">
                <h3>Talleres de Capacitación Continua. </h3>
                <br />
             </div>
        </div>
        <div class="item">
             <%= image_tag "baby6.png", alt: "Home" %>
             <div class="carousel-caption">
                <h3>Programas de Formación: <h3/> 
                <h4>Especialidad en Educación Perinatal, Universidad Anahuac México Norte.  <%= link_to "Especialidad Educación Perinatal", "http://pegaso.anahuac.mx/educacion" %><h4/>
                <h4>Diplomado para Educador en Psicoprofilaxis Perinatal ENEO/UNAM con sede en CIMIGen.  <%= link_to "CIMIgen", "http://www.cimigen.org.mx" %></h4>
                <br />
             </div>
        </div>
        <div class="item">
             <%= image_tag "baby7.png", alt: "Home" %>
             <div class="carousel-caption">
                <h3>Únete a nosotros y paga tu cuota 2013.</h3>
                <br />
                <h4><%= link_to "Siguenos en Facebook!","http://www.facebook.com/pages/ANIPP/151789208216298?ref=hl" %>   y tambien   <%= link_to "Siguenos en Twitter!","http://www.twitter.com/ContactoAnipp" %></h4>
             </div>
        </div>
        
    </div>
    <a class="carousel-control left" href="#home-carousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#home-carousel" data-slide="next">&rsaquo;</a>
</div>

<!-- Example row of columns -->
<div class="row" id="sponsors">
	<br />
	<a class="brand"><%= link_to image_tag("logoanipp.jpg", alt: "ANIPP", size: "120x120"), root_path %></a>
    <div class="span4">
        <h2>Chicco</h2>
        <p><%= link_to image_tag("chicco.jpg", alt: "Chicco", size: "100x100"), "http://www.chicco.com.mx" %></p>
        <br />
        <p><a class="btn btn-primary" href="#">Detalles &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>CryoCell</h2>
        <br />
        <p><%= link_to image_tag("logoCCell.jpg", alt: "CryoCell", size: "130x120"), "http://www.cryo-cell.com.mx" %></p>
        <br />
        <br />
        <p><a class="btn btn-primary" href="#">Detalles &raquo;</a></p>
    </div> 
    <div class="span4">
        <h2>Huggies</h2>
        <br />
        <p><%= link_to image_tag("Huggies.jpg", alt: "Huggies", size: "150x150"), "http://www.huggies.com.mx" %></p>
        <br />
        <br />
        <p><a class="btn btn-primary" href="#">Detalles &raquo;</a></p>
    </div>
</div>

<hr>

<footer id="home">
    <p>&copy; Think-Tank Consulting 2013</p>
</footer>