<!--<div class="hero-unit">
    <h1>ANIPP, bienvenido! <small>en construcción </small></h1>
    <p>La Asociación Nacional de Instructoras en Psicoprofilaxis Perinatal agrupa a profesionales que respetan la fisiología del embarazo, del parto, la capacidad de la mujer de dar a luz y la lactancia materna. Todas nuestras instructoras están certificadas para asistirte en esta bella experiencia. </p>
    <p><a href="#" class="btn btn-primary btn-large">Continua &raquo;</a></p>
</div>-->

<div class="carousel slide container" id="home-carousel">
    <div class="carousel-inner">
        <div class="item active">
             <%= image_tag "baby4.png", alt: "Home" %>
             <div class="carousel-caption">
                <h1>ANIPP, bienvenido! <small>en construcción </small></h1>
                <p>La Asociación Nacional de Instructoras en Psicoprofilaxis Perinatal agrupa a profesionales que respetan la fisiología del embarazo, del parto, la capacidad de la mujer de dar a luz y la lactancia materna. Todas nuestras instructoras están certificadas para asistirte en esta bella experiencia. </p>
                </br>
                <a class="btn btn-large btn-primary" href="#">Continua</a>
             </div>
        </div>
        <div class="item">
             <%= image_tag "baby5.png", alt: "Home" %>
        </div>
        <div class="item">
             <%= image_tag "baby6.png", alt: "Home" %>
        </div>
        <div class="item">
             <%= image_tag "baby7.png", alt: "Home" %>
        </div>
    </div>
    <a class="carousel-control left" href="#home-carousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#home-carousel" data-slide="next">&rsaquo;</a>
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="span4">
        <h2>Chicco</h2>
        <p><%= image_tag "chicco.jpg", alt: "Chicco", size: "120x120" %></p>
        <p> </p>
        <p><a class="btn" href="#">Detalles &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Patrocinador</h2>
        <p>Información del patrocinador</p>
        <p><a class="btn" href="#">Detalles &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Patrocinador</h2>
        <p>Información del patrocinador</p>
        <p><a class="btn" href="#">Detalles &raquo;</a></p>
    </div>
</div>

<hr>

<footer id="home">
    <p>&copy; Think-Tank Consulting 2013</p>
</footer>