<!--<div class="hero-unit">
    <h1>ANIPP, bienvenido! <small>en construcción </small></h1>
    <p>La Asociación Nacional de Instructoras en Psicoprofilaxis Perinatal agrupa a profesionales que respetan la fisiología del embarazo, del parto, la capacidad de la mujer de dar a luz y la lactancia materna. Todas nuestras instructoras están certificadas para asistirte en esta bella experiencia. </p>
    <p><a href="#" class="btn btn-primary btn-large">Continua &raquo;</a></p>
</div>-->

<div class="carousel slide container" id="home-carousel">
    <div class="carousel-inner">
        <div class="item active">
             <%= image_tag "baby4.png", alt: "Home" %>
             <div class="carousel-caption">
                <h1>ANIPP, bienvenido! <small>en construcción </small></h1>
                <h4>La Asociación Nacional de Instructoras en Psicoprofilaxis Perinatal agrupa a profesionales que respetan la fisiología del embarazo, del parto, la capacidad de la mujer de dar a luz y la lactancia materna. Todas nuestras instructoras están certificadas para asistirte en esta bella experiencia. </h4>
                </br>
                <a class="btn btn-large btn-primary" href="#">Continua</a>
             </div>
        </div>
        <div class="item">
             <%= image_tag "baby8.png", alt: "Home" %>
             <div class="carousel-caption">
                <h4>1er Encuentro Nacional de Profesionales de Atención de Parto en Agua 11, 12, y 13 de Noviembre de 2013, Cuidad de México. Sede por confirmar. </h4>
                <br />
             </div>
        </div>
        <div class="item">
             <%= image_tag "baby5.png", alt: "Home" %>
             <div class="carousel-caption">
                <h4>Talleres de Capacitación Continua. </h4>
                <br />
             </div>
        </div>
        <div class="item">
             <%= image_tag "baby6.png", alt: "Home" %>
             <div class="carousel-caption">
                <h4>Programas de Formación: Especialidad es Educación Perinatal, Universidad Anahuac México Norte. Diplomado para Educador en Psicoprofilaxis Perinatal ENEO/UNAM con sede en CIMIGen</h4>
                <br />
             </div>
        </div>
        <div class="item">
             <%= image_tag "baby7.png", alt: "Home" %>
             <div class="carousel-caption">
                <h4>Únete a nosotros y paga tu cuota 2013.</h4>
                <br />
                <p><%= link_to "Siguenos en Facebook!","http://www.facebook.com/pages/ANIPP/151789208216298?ref=hl" %>   y tambien   <%= link_to "Siguenos en Twitter!","http://www.twitter.com/ContactoAnipp" %></p>
             </div>
        </div>
        
    </div>
    <a class="carousel-control left" href="#home-carousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#home-carousel" data-slide="next">&rsaquo;</a>
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="span4">
        <h2>Chicco</h2>
        <p><%= image_tag "chicco.jpg", alt: "Chicco", size: "120x120" %></p>
        <p> </p>
        <p><a class="btn" href="#">Detalles &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Patrocinador</h2>
        <p>Información del patrocinador</p>
        <p><a class="btn" href="#">Detalles &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Patrocinador</h2>
        <p>Información del patrocinador</p>
        <p><a class="btn" href="#">Detalles &raquo;</a></p>
    </div>
</div>

<hr>

<footer id="home">
    <p>&copy; Think-Tank Consulting 2013</p>
</footer>