<div class="carousel slide container" id="home-carousel">
    <div class="carousel-inner">
        <div class="item active">
             <%= image_tag "baby4.png", alt: "Home" %>
             <div class="carousel-caption">
                <h1>ANIPP, bienvenido!</h1>
                <h4>La Asociación Nacional de Instructoras en Psicoprofilaxis Perinatal agrupa a profesionales que respetan la fisiología del embarazo, del parto, la capacidad de la mujer de dar a luz y la lactancia materna. Todas nuestras instructoras están certificadas para asistirte en esta bella experiencia. </h4>
                </br>
             </div>
        </div>
        <div class="item">
             <%= image_tag "congreso_2014_11.png", alt: "Home" %>
             <div class="carousel-caption">
                <h4>Dirigido a: Neonatólogos, Pediatras, Educadoras Perinatales, Enfermeras, Parteras, Dulas y personal relacionado con la atención del parto</h4>
                <h4>Informes: Lunes a viernes 09:00 - 16:00 hrs. Tel. (55) 5520-9200 ext. 8409 con Adriana Rivera</h4>
                <h4>Quieres conocer más del evento? &nbsp;&nbsp;&nbsp;<%= link_to "Maria Luisa presenta el evento ", "http://www.youtube.com/watch?v=2FT943RcBbE&feature=youtu.be" %></h4>
             </div>
        </div>
        <!--<div class="item">
             <div align="center" style="padding-left: 100px; padding-bottom: 100px; width: 890px;">
             	<%= image_tag "congreso.png", alt: "Home" %>
             </div>
             <div class="carousel-caption">
             	<br />
             	<h3>Quieres conocer más de nuestro Congreso? &nbsp;&nbsp;&nbsp;<%= link_to "Visita la página del nuestro Congreso", "http://www.serpadreshoy.wix.com/anipp" %></h3>
                <br />
             </div>
        </div>-->   
        <div class="item">
             <%= image_tag "AnippMeeting.png", alt: "Home" %>
             <div class="carousel-caption">
                <h3>1a REUNIÓN DE EXPERTOS EN LA ATENCIÓN PARTO NATURAL</h3>
                <br />
                <h4>Quieres conocer de nuestra primera reunion? &nbsp;&nbsp;&nbsp;<%= link_to "Ve la reseña del evento aqui ", "http://youtu.be/M_jHP7D_Z0A" %></h4>
             </div>
        </div>
        <div class="item">
        		<%= image_tag "mesadirectiva.png", alt: "Home" %>
             <div class="carousel-caption">
             	<br />
                <h3>Nuestra Mesa Directiva ANIPP &nbsp;&nbsp;&nbsp;<%= link_to "Aquí está nuestra direccion", "https://www.facebook.com/pages/ANIPP/151789208216298?sk=page_map" %></h3>
                <br />
             </div>
        </div>  
        <div class="item">
             <%= image_tag "baby5.png", alt: "Home" %>
             <div class="carousel-caption">
                <h3>Talleres de Capacitación Continua. </h3>
                <br />
             </div>
        </div>
        <div class="item">
             <%= image_tag "baby6.png", alt: "Home" %>
             <div class="carousel-caption">
                <h3>Programas de Formación: <h3/> 
                <h4>Especialidad en Educación Perinatal, Universidad Anahuac México Norte.  <%= link_to "Especialidad Educación Perinatal", "http://pegaso.anahuac.mx/educacion" %><h4/>
                <h4>Diplomado para Educador en Psicoprofilaxis Perinatal ENEO/UNAM con sede en CIMIGen.  <%= link_to "CIMIgen", "http://www.cimigen.org.mx" %></h4>
                <br />
             </div>
        </div>
        <div class="item">
             <%= image_tag "baby7.png", alt: "Home" %>
             <div class="carousel-caption">
                <h3>Únete a nosotros y paga tu cuota 2014.</h3>
                <br />
                <h4><%= link_to "Siguenos en Facebook!","http://www.facebook.com/pages/ANIPP/151789208216298?ref=hl" %>   y tambien   <%= link_to "Siguenos en Twitter!","http://www.twitter.com/ContactoAnipp" %></h4>
             </div>
        </div>
        
    </div>
    <a class="carousel-control left" href="#home-carousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#home-carousel" data-slide="next">&rsaquo;</a>
</div>

<!-- Example row of columns -->
<div class="row" id="sponsors">
    <div class="span4">
        <h2>Chicco</h2>
        <p style="height: 90px; width: 90px;"><%= link_to image_tag("chicco.jpg", alt: "Chicco"), "http://www.chicco.com.mx" %></p>
        <br />
    </div>
    <div class="span4">
        <h2>CryoCell</h2>
        <br />
        <p style="height: 100px; width: 100px;"><%= link_to image_tag("logoCCell.jpg", alt: "CryoCell"), "http://www.cryo-cell.com.mx" %></p>
        <br />
        <br />
    </div> 
    <div class="span4">
        <h2>Huggies</h2>
        <br />
        <p style="height: 100px; width: 100px;"><%= link_to image_tag("Huggies.jpg", alt: "Huggies"), "http://www.huggies.com.mx" %></p>
        <br />
        <br />
    </div>
    <div class="brand pull-right">
        <br />
        <p style="height: 80px; width: 80px;"><%= link_to image_tag("anipp.png", alt: "ANIPP"), root_path %></p>
        <br />
        <br />
    </div>
</div>
<br />
<hr />
<footer id="home">
    <p>&copy; Think-Tank Consulting 2013</p>
</footer>