<div class="container">
	<div class="form-signin">
		<% flash.each do |key, value| %>
		<div class="alert alert-<%= key %>"><%= value %></div>
		<% end %>
		<h2>Instructora:&nbsp;<%= @user.name %></h2>
		<br />
		<h3>Mapa de Localización</h3>
		<div class="gmaps4rails_map">
			<%= gmaps4rails(@json) %>
		</div>
		<!--<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?size=550x400&sensor=true&zoom=16&markers=#{@user.location.latitude}%2C#{@user.location.longitude}" %>-->
		<br />
		<h3>Instructoras Cercanas:</h3>
		<% if @user.location.nearbys.empty? %>
			<li> No hay instructoras cercanas </li>
		<% else %> 
			<% for location in @user.location.nearbys(5) %>
				<li><%= location.user.name %>&nbsp;&nbsp;&nbsp;<%= link_to location.address, location.user %></li>
			<% end %>
		<% end %>
	</div>
</div>