<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'>	
  <title>ANIPP</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active" style="font-size:25px; font-weight:bold;">
              	<%= link_to "ANIPP", root_path %>
              </li>
              <li style="font-size:18px; font-style:italic;">
              	<%= link_to "Contáctanos", users_path %>
              </li>
              <li style="font-size:18px; font-style:italic;">
              	<%= link_to "Quiénes Somos", about_path %>
              </li>
            </ul>
          </div>
          <div class="nav-collapse pull-right" style="margin-right: 80px;">
            <ul class="nav">   
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                	<strong style="font-size:18px;">Instructora </strong><b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                <% if signed_in? %>
                  <li><%= link_to "Actualiza tu Registro", edit_user_path(current_user) %></li>
                  <% if is_admin? %>
                   <li class="divider"></li>
                  <li><%= link_to "Administrar Instructoras", admin_path %></li>
                  <% end %>
                  <li class="divider"></li>
                  <li><%= link_to "Salir", signout_path, method: "delete" %></li>
                <% else %>
                  <li><%= link_to "Registro Instructoras", signup_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Ingreso Instructoras", signin_path %></li>
                <% end %>  
              </li>
            </ul>
            <!--<form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Entrar</button>
            </form>-->
          </div>
        </div>
      </div>
    </div>
	<div class='container'>
		<%= yield %>
		<%= yield :scripts%>
    	<%= debug(params) if Rails.env.development? %>
	</div>
  <script>
    $(document).ready(function(){
      $('.carousel').carousel();
    }); // end document.ready
</script>
</body>
</html>
